Exercises String

In [69]:
# 1. Concatenate the string **`Python`**, **`4`**, **`Data`**, **`Science`** to a single string, **`Python 4 Data Science`**.
myStr = ""
numWords = 4
for i in range(0, numWords):
    word = input("Enter word : ")
    myStr += word + " "

print(myStr)

amira hassan sobhi sadsad sfesgthyj

In [70]:
# 2. Declare a variable named **`course`** and assign it to an initial value **`Python 4 Data Science`**.
course = "Python 4 Data Science"

In [71]:
course = "Python 4 Data Science"
# 3. Print the length of the **`course`** string using **[len()]()** method and **[print()]()**.
print("length: ", len(course)) # length:  21

length:  21

In [72]:
course = "Python 4 Data Science"
# 4. Change all the characters of variable course to uppercase and lowercase letters using **[upper()]()** and **[lower()]()** method.
print("Upper: ", course.upper()) # Upper:  PYTHON 4 DATA SCIENCE
print("Lower: ", course.lower()) # Lower:  python 4 data science

Upper:  PYTHON 4 DATA SCIENCE
Lower:  python 4 data science

In [73]:
course = "Python 4 Data Science"
# 5. Use **[capitalize()]()**, **[title()]()**, **[swapcase()]()** methods to format the value of the string **`Python 4 Data Science`**.
print("capitalize: ", course.capitalize()) # capitalize:  Python 4 data science
print("title: ", course.title()) # title:  Python 4 Data Science
print("swapcase: ", course.swapcase()) # swapcase:  pYTHON 4 dATA sCIENCE

capitalize:  Python 4 data science
title:  Python 4 Data Science
swapcase:  pYTHON 4 dATA sCIENCE

In [74]:
course = "Python 4 Data Science"
# 6. Cut(slice) out the first word of **`Python 4 Data Science`**.
print("slice: ", course.split()[0]) # slice:  Python

if course.index("Python") >= 0:
    print("True")   # True

slice:  Python
True

In [75]:
# 7. Check if **`Python 4 Data Science`** string contains a word **`Python`** using the method: **[index()]()**, **[find()]()** or other methods.
course = "Python 4 Data Science"
if course.find("Python") != -1:
    print("True")   # True

True

In [76]:
# 8. Change **`Python 4 Data Science`** to **`Python 4 Everybody`** using the **[replace()]()** method or other methods.
course = "Python 4 Data Science"
print(course.replace("Data Science", "Everybody")) # Python 4 Everybody

Python 4 Everybody

In [77]:
# 9. Split the string **`Python 4 Data Science`** using space as the separator (**[split()]()**).
course.split(" ") # ['Python', '4', 'Data', 'Science']

['Python', '4', 'Data', 'Science']

In [78]:
# 10. **`Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon`** split the string at the comma.
myStr = "Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon"
myStr.split(",")

['Google', ' Facebook', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [79]:
# 11. What is the character at index 9 in the string **`Python 4 Data Science`**.
course = "Python 4 Data Science"
print("index 9: ",course[9]) # index 9:  D

index 9:  D

In [80]:
course = "Python 4 Data Science"
# 12. What is the second last index of the string **`Python 4 Data Science`**.
print("second last index: ",course[-2]) # second last index:  c

second last index:  c

In [81]:
course = "Python 4 Data Science"
# 13. Create an acronym or an abbreviation for the name **`Python 4 Data Science`**.
abbrevation = ""
for i in course.split(" "):
    abbrevation += i[0]
print("abbreviation: ", abbrevation) # abbreviation:  P4DS

abbreviation:  P4DS

In [82]:
course = "Python 4 Data Science"
# 14. Use **[index()]** to determine the position of the first occurrence of **`D`** in **`Python 4 Data Science`**.
print("index D: ", course.index("D")) # index D:  9

index D:  9

In [83]:
# 15. Use **[rfind]()** to determine the position of the last occurrence of **`e`** in **`Python 4 Data Science`**.
course = "Python 4 Data Science"
course.rfind("e")

20

In [84]:
# 16. Use **[index()]()** or **[find()]()** to find the position of the first occurrence of the word **`because`**
myStr = "We cannot end the sentence with ‘because’, because ‘because’ is a conjunction."
print(myStr.index("because")) # 33
print(myStr.find("because")) # 33

33
33

In [85]:
# 17. Use **[rindex]()** to find the position of the first and last occurrence of the word **`because`**
myStr = "We cannot end the sentence with ‘because’, because ‘because’ is a conjunction."
print("First: ", myStr.index("because"))
print("Last: ", myStr.rindex("because"))

First:  33
Last:  52

In [86]:
# 18. Slice out the phrase **`‘because’, because ‘because’`**
myStr = "We cannot end the sentence with ‘because’, because ‘because’ is a conjunction."
end = myStr.rindex("because") + len("because") + 1
start = myStr.index("because")
print(myStr[start:end])

because’, because ‘because’

In [87]:
# 19. Does **`Python 4 Data Science`** start with a substring **`Python`**?
course = "Python 4 Data Science"
if course.find("Python") == 0:
    print("True")
else:
    print("False")

True

In [88]:
# 20. Does '**`Python 4 Data Science`** contains with a substring **`Python`**?
course = "Python 4 Data Science"
if course.find("Python") != -1:
    print("True")
else:
    print("False")

True

In [89]:
# 21. remove the left and right trailing spaces in the given string.
courseWithSpace = "             Python 4 DataScience                                  "
courseWithSpace.strip()

'Python 4 DataScience'

In [90]:
# 22. The following list contains the names of some of python libraries:**`['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']`**
 # Join the list with a hash with space string.
librariesPython = ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']
librariesPythonStr = "-".join(librariesPython)
librariesPythonStr

'Django-Flask-Bottle-Pyramid-Falcon'

In [91]:

#  24. Which one of the following variables return True when we use the method **[isidentifier()]()**
#     ```py
#     2021PythonDataypes
#     Python_Dataypes_2021

print("2021PythonDataypes".isidentifier())
print("Python_Dataypes_2021".isidentifier())

False
True

In [92]:
# 25. Make the following using string formatting methods:
# 8 + 6 = 14
# 8 - 6 = 2
# 8 * 6 = 48
# 8 / 6 = 1.33
# 8 % 6 = 2
# 8 // 6 = 1
# 8 ** 6 = 262144

operatotors = [""] 
mystr = "+ - * / % // ** = "
print(8, mystr[mystr.index("+")] ,6, mystr[mystr.index("=")], 8 + 6)
print(8, mystr[mystr.index("-")] ,6, mystr[mystr.index("=")], 8 - 6)
print(8, mystr[mystr.index("*")] ,6, mystr[mystr.index("=")], 8 * 6)
print(8, mystr[mystr.index("/")] ,6, mystr[mystr.index("=")], 8 / 6)
print(8, mystr[mystr.index("%")] ,6, mystr[mystr.index("=")], 8 % 6)
print(8, mystr[mystr.index("//")] ,6, mystr[mystr.index("=")], 8 // 6)
print(8, mystr[mystr.index("**")] ,6, mystr[mystr.index("=")], 8 ** 6)

8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.3333333333333333
8 % 6 = 2
8 / 6 = 1
8 * 6 = 262144

In [93]:
# 26. Use a **new line** and **tab** escape sequence to print the following lines.
#      ```py
#     Name      Age     Country   City
#     Milaan    96      Finland   Tampere

print("Name\t Age\t Country\t City \nMilaan\t 96\t Finland\t Tampere")

Name	 Age	 Country	 City
Milaan	 96	 Finland	 Tampere

Exercises If & if-elif-else

In [94]:
# 1.  Get user input using **`input(“Enter your age: ”)`**. If user is 18 or older, give feedback: **`You are old enough to drive`**. If below 18 give feedback to **`wait for the missing amount of years`**.

# Output:

# ```py
#     Enter your age: 30
#     You are old enough to learn to drive.
#     Output:
#     Enter your age: 15
#     You need 3 more years to learn to drive.

age = int(input("Enter your age"))
if age > 18:
    print("You are old enough to learn to drive.")
else:
    print("You need", 18 - age ,"more years to learn to drive.")

You are old enough to learn to drive.

In [95]:
# 2.  Compare the values of my_age and your_age using if-else. Who is older (me or you)? Use input(“Enter your age: ”) to get the age as input.

# Output:

# ```py
#     Enter your age: 30
#     You are 5 years older than me.
# ```

my_age = 21
your_age = int(input("Enter your age: "))
if your_age > my_age:
    print("You are", your_age - my_age, "years older than me.")
else:
    print("You are", my_age - your_age, "years younger than me.")

You are 3 years older than me.

In [96]:
# 3.  Get two numbers from the user using input prompt. If **`num_1`** is greater than **`num_2`** return **`num_1`** is greater than **`num_2`**, if **`num_1`** is less **`num_2`** return **`num_1`** is smaller than **`num_2`**, else **`num_1`** is equal to **`num_2`**. Output:

# ```sh
# Enter number one: 9
# Enter number two: 6
# 9 is greater than 6
# ```

num_1 = int(input("Enter number one: "))
num_2 = int(input("Enter num two: "))
if num_1 > num_2:
    print(num_1, "is greater than", num_2)
elif num_1 < num_2:
    print(num_1, "is less than", num_2)
else:
    print(num_1, "is equal to", num_2)

6 is less than 8

In [97]:
# 4. Write a code which gives grade to students according to theirs scores:
   
# ```py
#  80-100, A
#  70-89, B
#  60-69, C
#  50-59, D
#  0-49, F
# ```

grade = int(input("Enter your grade: "))
if (grade >= 80) & (grade <= 100):
    print("A")
elif (grade >= 70) & (grade <= 89):
    print("B") 
elif (grade >= 60) & (grade <= 69):
    print("C")
elif (grade >= 50) & (grade <= 59):
    print("D")
elif (grade >= 0) & (grade <= 49):
    print("F")
else:
    print("the grade must be between 100 and 0")

B

In [98]:
# 5. Check if the season is Autumn, Winter, Spring or Summer.
#     - If the user input is:
#         - September, October or November, the season is Autumn.
#         - December, January or February, the season is Winter.
#         - March, April or May, the season is Spring
#         - June, July or August, the season is Summer

month = input("Enter month name: ")
if (month == "September") | (month == "October") | (month == "November"):
    print("the season is Autumn.")
elif (month == "December") | (month == "January") | (month == "Febrauary"):
    print("the season is Winter.")
elif (month == "March") | (month == "April") | (month == "May"):
    print("the season is Spring.")
else:
    print("the season is Summer.")

the season is Winter.

In [99]:
# 6.  The following list contains some fruits:
#    - If a fruit doesn't exist in the list add the fruit to the list and print the modified list. If the fruit exists print **
#    `('That fruit already exist in the list')`**

fruits = ['banana', 'orange', 'mango', 'pear']
kind_fryits = input("")
if kind_fryits in fruits:
    print("That fruit already exist in the list.")
else:
    fruits.append(kind_fryits)
    print(fruits)

['banana', 'orange', 'mango', 'pear', 'apple']

In [100]:
# 7. Here we have a person dictionary. Feel free to modify it!

person={
    'first_name': 'Baraa',
    'last_name': 'Sallout',
    'age': 25,
    'country': 'Gaza-Palstine',
    'is_married': False,
    'skills': ['Python', 'Matlab', 'R', 'C', 'C++'],
    'address': {
        'street': 'Makka street',
        'zipcode': '00000'
    }
}

# * Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
if "skills" in person.keys():
    print(person["skills"][len(person['skills']) // 2])

    # * Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
    if "Python" in person["skills"]:
        print("Yes, he has Python skills")

    # * If a person skills has only Python and Matlab, print('He knows machine learning'), if the person skills has Python, and R print('He knows statistics'), if the person skills has C, and C++, Print('He knows software development'), else print('unknown title') - for more accurate results more conditions can be nested!
    if ("Python" in person["skills"]) & ("Matlab" in person["skills"]):
        print("He knows machine learning")
    elif ("Python" in person["skills"]) & ("R" in person["skills"]):
        print("He knows statistics.")
    elif ("C" in person["skills"]) & ("C++" in person["skills"]):
        print("He knows software development")
    else:
        print("Unknown title")

# * If the person is married and if he lives in Gaza, print the information in the following format:
    if (person["is_married"] == True) & (person["country"] == "Gaza-Palstine"):
        print(person["first_name"], person["last_name"], "lives in Finland. He is married")
# ```py
#     Baraa Sallout lives in Finland. He is married.
# ```

R
Yes, he has Python skills
He knows machine learning

In [101]:
# 8.  Compare the values of my_age and your_age using **`if-else`**. Who is older (me or you)? Use **`input(“Enter your age: ”)`** to get the age as input. You can use a nested condition to print **`'year'`** for 1 year difference in age, **`'years'`** for bigger differences, and a custom text if **`my_age = your_age`**.

# Output:

# ```py
#     Enter your age: 30
#     You are 5 years older than me.
# ```

my_age = 21
your_age = int(input("Enter your age: "))
if your_age > my_age:
    if (your_age - my_age) == 1:
        print("You are a year greater than me.")
    else:
        print("You are", your_age - my_age, "years greater than me.")
elif your_age < my_age:
    if (my_age - your_age) == 1:
        print("You are a year younger than me.")
    else:
        print("You are" , my_age - your_age, "years younger than me.")
else:
    print("We are in the same age")

You are 4 years greater than me.

In [102]:
# 9. Write a Python program that asks the user for a number and checks whether it is positive, negative, or zero using nested if statements.
num = int(input("Enter the num to check it is positive, negatiove, or zero: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

In [103]:
# 10. Write a Python program that checks whether a given year is a leap year. A leap year is exactly divisible by 4 except for years which are exactly divisible by 100. However, years exactly divisible by 400 are leap years
year = int(input("Enter year to check it is leap or not: "))
if ( (year % 4 == 0) & (year % 100 != 0) | (year % 400 == 0) ):
    print("It Is a Leap Year")
else:
    print("It Is Not a Leap Year")

It Is a Leap Year

Exercises List

***** Level 1 *****

In [104]:
# 1. Declare a list with more than 5 items with different data types
my_list = [1, "str", (2,3,4), 'b' ,["a", 4, "b"], 4.56, 'a']

# 2. Find the length of your list
len(my_list)

7

In [105]:
# 3. Get the first item, the middle item and the last item of the list
print("First: ", my_list[0])
print("Middle: ", my_list[len(my_list)//2])
print("Last: ", my_list[len(my_list)-1])

First:  1
Middle:  b
Last:  a

In [106]:
# 4. Declare a list **`called my_info`**, put your (name, age, height, marital status, country)
my_info = ["Amira Hassan", 21, 165 , "single", "Egypt"]

In [107]:
# 5. Declare a list variable named **`mix_fruits`** and assign initial values Guava, Mango, Apple, Pear, Fig, Orange and Banana and print the list.
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]
mix_fruits

# 6. Print the list using **[print()]()**
print(mix_fruits)

# 7. Print the number of **`mix_fruits`** in the list
print(len(mix_fruits))

['Guava', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']
7

In [108]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 8. Print the first, middle and last fruit
print("First: ", mix_fruits[0])
print("Middle: ", mix_fruits[len(mix_fruits)//2])
print("Last: ", mix_fruits[len(mix_fruits)-1])

First:  Guava
Middle:  Pear
Last:  Banana

In [109]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 9. Print the list after modifying one of the fruit
mix_fruits[0] = "Kiwi"
print(mix_fruits)

# 10. Add an fruit to variable **`mix_fruits`**
mix_fruits.append("Pomegranate")
print(mix_fruits)

['Kiwi', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']
['Kiwi', 'Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana', 'Pomegranate']

In [110]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 11. Insert an fruit in the middle of the **`mix_fruits`** list
mix_fruits.insert(len(mix_fruits)//2, "Grape")
print(mix_fruits)

# 12. Change one of the fruit names to uppercase
mix_fruits[0] = mix_fruits[0].upper()
print(mix_fruits)

['Guava', 'Mango', 'Apple', 'Grape', 'Pear', 'Fig', 'Orange', 'Banana']
['GUAVA', 'Mango', 'Apple', 'Grape', 'Pear', 'Fig', 'Orange', 'Banana']

In [111]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 13. Join the elements in **`mix_fruits`** with a string **`-#-`**
mix_fruits_str = "#".join(mix_fruits)
print(mix_fruits_str)

# 14. Check if a certain fruit exists in the **`mix_fruits`** list.
if mix_fruits[len(mix_fruits) // 2] == "Pear":
    print("True")
else:
    print("False")

Guava#Mango#Apple#Pear#Fig#Orange#Banana
True

In [112]:
# 15. Sort the list using **[sort()]()** method
mix_fruits.sort()
print("Sorted (Asc): ", mix_fruits)

# 16. Reverse the list in descending order using **[reverse()]()** method
mix_fruits.reverse()
print("Sorted (Desc): ", mix_fruits)

Sorted (Asc):  ['Apple', 'Banana', 'Fig', 'Guava', 'Mango', 'Orange', 'Pear']
Sorted (Desc):  ['Pear', 'Orange', 'Mango', 'Guava', 'Fig', 'Banana', 'Apple']

In [113]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 17. Slice out the first 3 fruits from the list
print("first 3 fruits",mix_fruits[0:3])

# 18. Slice out the last 3 fruits from the list
print("last 3 fruits",mix_fruits[len(mix_fruits)-3 : len(mix_fruits)])

first 3 fruits ['Guava', 'Mango', 'Apple']
last 3 fruits ['Fig', 'Orange', 'Banana']

In [114]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 19. Slice out the middle fruit or fruits from the list
if len(mix_fruits) % 2 == 0:
    print(mix_fruits[(len(mix_fruits)//2) - 1], ",", mix_fruits[(len(mix_fruits)//2)])
else:
    print(mix_fruits[(len(mix_fruits)//2)])

Pear

In [115]:
# 20. Remove the first fruit from the list
mix_fruits.pop(0)
mix_fruits

['Mango', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana']

In [116]:
mix_fruits = ["Guava", "Mango", "Apple", "Pear", "Fig", "Orange", "Banana"]

# 21. Remove the middle fruit or companies from the list
if len(mix_fruits) % 2 == 0:
    mix_fruits.pop((len(mix_fruits)//2) - 1)
    mix_fruits.pop((len(mix_fruits)//2))
else:
    mix_fruits.pop((len(mix_fruits)//2))

mix_fruits

['Guava', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana']

In [117]:
# 22. Remove the last fruit from the list
mix_fruits.pop(len(mix_fruits)-1)
mix_fruits

['Guava', 'Mango', 'Apple', 'Fig', 'Orange']

In [118]:
# 23. Remove all fruits from the list
mix_fruits.clear()
mix_fruits

[]

In [119]:
# 24. Delete the fruits list
del(mix_fruits)

In [139]:
# 25. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
new_list = front_end + back_end

# 26. After joining the lists in question 25.
# Copy the joined list and assign it to a variable full_stack. Then insert **`'Python'`** and **`'SQL'`** after **`'Redux'`**.
full_stack = new_list.copy()
addLinguages = ", ".join(["Python", "SQL"])
indexLanguages = full_stack.index("Redux") + 1
full_stack.insert(indexLanguages, addLinguages)
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python, SQL', 'Node', 'Express', 'MongoDB']

***** Level 2 *****

In [138]:
# 1. The following is a list of 10 students ages:
ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24]
#     - Sort the list and find the min and max age
ages.sort()
print("Sorted: ", ages)
print("min: ", min(ages))
print("max: ", ages[len(ages)-1])


#     - Add the min age and the max age again to the list
ages.append(min(ages))
ages.append(ages[len(ages)-1])
print("ages after addition min & max again: ",ages)

#     - Find the median age (one middle item or two middle items divided by two)
if len(ages) % 2 == 0:
    print(ages[(len(ages) // 2) -1] , ages[len(ages) // 2])
else:
    print(ages[len(ages) // 2])

#     - Find the average age (sum of all items divided by their number )
sum = 0
for i in ages:
    sum += i
average = sum / len(ages)
print("average age: ", average)

#     - Find the range of the ages (max - min)
range = ages[len(ages)-1] - min(ages)
print("Range: ", range)

#     - Compare the value of (min - average) and (max - average), use **[abs()]** method
if min(ages) < average:
    avgMin = abs(min(ages) - average)
if ages[len(ages)-1] < average:
    avgMax = abs(ages[len(ages)-1] - average)

Sorted:  [19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
min:  19
max:  26
ages after addition min & max again:  [19, 19, 20, 21, 23, 24, 25, 25, 25, 26, 19, 19]
24 25
average age:  22.083333333333332
Range:  0

In [140]:
countries = ['India', 'Russia', 'China','Finland', 'Sweden', 'Norway', 'Denmark']
startMiddle = 0
endMiddle = 0

if len(countries) % 2 == 0:
    startMiddle = (len(countries)//2) - 1
    endMiddle = (len(countries)//2)
else:
    startMiddle = len(countries)//2
    endMiddle = startMiddle

# 2. Find the middle country(ies) in the **[countries list]()**
print(countries[startMiddle:endMiddle + 1])

# 3. Divide the countries list into two equal lists if it is even if not one more country for the first half.
firstPart = countries[0:endMiddle]
secondPart = countries[endMiddle+1:len(countries)] 
print("firts part: ", firstPart)
print("second part: ", secondPart)


# 4. Unpack the first three countries and the rest as scandic countries.
firstCountry, secondCountry, thirdCountry = countries[0:3]
restCountries = countries[3:len(countries)]
print("first Country: ", firstCountry)
print("second Country: ", secondCountry)
print("third Country: ", thirdCountry)
print("rest Countries: ", restCountries)

['Finland']
firts part:  ['India', 'Russia', 'China']
second part:  ['Sweden', 'Norway', 'Denmark']
first Country:  India
second Country:  Russia
third Country:  China
rest Countries:  ['Finland', 'Sweden', 'Norway', 'Denmark']

Exercises Tuple

***** Level 1 *****

In [141]:
# 1. Create a tuple containing names of **`fruits`** and **`vegetables`**
fruits = ("Guava", "Mango", "Fig", "Orange", "Banana")
vegetables = ("Tomatoes", "Pepper","Lemon")

# 2. Join **`fruits`** and **`vegetables`** tuples and assign it to **`fruits_vegetables`**
fruits_vegetables = fruits + vegetables
print(fruits_vegetables)

# 3. How many **`fruits_vegetables`** do you have?
print(len(fruits_vegetables))

# 4. Modify the **`fruits_vegetables`** tuple and add the name of your favorite mushroom and beverage and assign it to **`food_tuple`** 
    # Will appear error, because tuple is Immutable
favourite = ("Mushroom" , "Mango")
food_tuple = fruits_vegetables +  favourite
print(food_tuple)

('Guava', 'Mango', 'Fig', 'Orange', 'Banana', 'Tomatoes', 'Pepper', 'Lemon')
8
('Guava', 'Mango', 'Fig', 'Orange', 'Banana', 'Tomatoes', 'Pepper', 'Lemon', 'Mushroom', 'Mango')

 ***** Level 2 *****

In [142]:
# 1. Unpack **`fruits_vegetables`** and mushroom and beverage from **`food_tuple`**
fruits_vegetables, mushroom, beverage = food_tuple[0:len(food_tuple)-2] , food_tuple[len(food_tuple)-2], food_tuple[len(food_tuple)-1] 

# 2. Change the about **`food_tuple`** tuple to a **`food_list`** list
food_list = list(food_tuple)

# 3. Slice out the middle item or items from the **`food_tuple`** tuple or **`food_list`** list.
startMiddle = 0
endMiddle = 0
if len(food_tuple) % 2 == 0:
    startMiddle = (len(food_tuple)//2) - 1
    endMiddle = (len(food_tuple)//2)
else:
    startMiddle = len(food_tuple)//2
    endMiddle = startMiddle
print(food_tuple[startMiddle:endMiddle+1])

# 4. Slice out the first three items and the last three items from **`food_list`** list
print("first three items: ",food_tuple[0:3])
print("first three items: ",food_tuple[len(food_list)-3:])

# 5. Delete the **`food_tuple`** tuple completely
del(food_tuple)

('Banana', 'Tomatoes')
first three items:  ('Guava', 'Mango', 'Fig')
first three items:  ('Lemon', 'Mushroom', 'Mango')

In [143]:
# 6. Check if an item exists in tuple:
#     - Check if **`'Finland'`** is a asian country
#     - Check if **`'India'`** is a asian country

asian_countries = ('India','China','Singapore','Thailand','Indonesia')
if "Finland" in asian_countries:
    print("Yes, Finland is a asian country")

if "India" in asian_countries:
    print("Yes, India is a asian country")

Yes, India is a asian country

Exercises Dictionary

In [144]:
# 1. Create an empty dictionary called **`bird`**
bird = {}

# 2. Add **`name`**, **`color`**, **`breed`**, **`legs`**, **`age`** to the **`bird`** dictionary
bird['name'] = "Pigen"
bird['color'] = "White"
bird['breed'] = "Columbidae"
bird['legs'] = "2"
bird['age'] = "2 month"
print(bird)

{'name': 'Pigen', 'color': 'White', 'breed': 'Columbidae', 'legs': '2', 'age': '2 month'}

In [146]:
# 3. Create a **`student`** dictionary and add **`first_name`**, **`last_name`**, **`gender`**, **`age`**, **`marital_status`**, **`skills`**, **`country`**, **`city`** and **`address`** as keys for the dictionary
student = {'first_ name': "Amira", 'last_name': "Hassan", 'gender': "Female", 'age': 21, 'marital_status': "single", 'skills': ['C', 'Java'], 'country': "Egypt", 'city': "Cairo", 'address': "Ghamra Station"}

# 4. Get the length of the **`student`** dictionary
print("length of Student dict: ",len(student))

length of Student dict:  9

In [147]:
# 5. Get the value of **`skills`** and check the data type, it should be a list
print("Skills: ", student["skills"])

# 6. Modify the **`skills`** values by adding one or two skills
student["skills"].append("JS")
print("Skills: ", student["skills"])

Skills:  ['C', 'Java']
Skills:  ['C', 'Java', 'JS']

In [148]:
# 7. Get the dictionary keys as a list
print("Keys: ",list(student))

# 8. Get the dictionary values as a list
print("Values: ",list(student.values()))

# 9. Change the dictionary to a list of tuples using **`items()`** method
studentList = [(key,value) for key,value in student.items()]
print(studentList)

Keys:  ['first_ name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values:  ['Amira', 'Hassan', 'Female', 21, 'single', ['C', 'Java', 'JS'], 'Egypt', 'Cairo', 'Ghamra Station']
[('first_ name', 'Amira'), ('last_name', 'Hassan'), ('gender', 'Female'), ('age', 21), ('marital_status', 'single'), ('skills', ['C', 'Java', 'JS']), ('country', 'Egypt'), ('city', 'Cairo'), ('address', 'Ghamra Station')]

In [149]:

# 10. Delete one of the items in the dictionary
student.pop('gender')

# 11. Delete one of the dictionaries
del(student)

Exercises Set

In [150]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
num = [22, 19, 24, 25, 26, 24, 25, 24]

 ***** Level 1 *****

In [151]:
# 1. Find the length of the set **`mix_fruits`**
len(mix_fruits)

# 2. Add **`'Kiwi'`** to **`mix_fruits`**
mix_fruits.add("Kiwi")

# 3. Insert multiple fruits at once to the set **`mix_fruits`**
mix_fruits.update({"Grape", "Pomegranate", "Apple"})

# 4. Remove one of the fruit from the set **`mix_fruits`**
mix_fruits.remove("Apple")
mix_fruits

# 5. What is the difference between **remove** and **discard**
 # They have the same function as deleting the item, but remove will appear Error if the value doesnt exist in set

{'Banana',
 'Fig',
 'Grape',
 'Guava',
 'Kiwi',
 'Mango',
 'Orange',
 'Pear',
 'Pomegranate'}

***** Level 2 *****

In [152]:
# 1. Join **`A`** and **`B`**
A | B

{19, 20, 22, 24, 25, 26, 27, 28}

In [153]:
# 2. Find **`A`** intersection **`B`**
A & B

{19, 20, 22, 24, 25, 26}

In [154]:
# 3. Is **`A`** subset of **`B`**
A <= B

True

In [155]:
# 4. Are **`A`** and **`B`** disjoint sets
A.isdisjoint(B)

False

In [156]:
# 5. Join **`A`** with **`B`** and **`B`** with **`A`**
print("Join A with B", A | B)
print("Join B with A", B | A)

Join A with B {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A {19, 20, 22, 24, 25, 26, 27, 28}

In [157]:
# 6. What is the symmetric difference between A and **`B`**
A.symmetric_difference(B)

{27, 28}

In [158]:
# 7. Delete the sets completely
del(A)
del(B)

***** Level 3 *****

In [159]:
# 1. Convert the **`num`** to a set and compare the length of the list and the set, which one is bigger?
setNum = set(num)
print(len(setNum)) # 5
print(len(num)) # 8
# the list is bigger than set, because set includes unique values (delete dublicated)

5
8

In [160]:
# 2. Explain the difference between the following data types: **string**, **list**, **tuple** and **set**
    # string => is immutable, you can not change any character in it
    # list => allow with dublicated values, 
    # tuple is immutable, that is mean you cant not change values in it.
    # set include unique values, and insert the values in ascending order

In [161]:
# 3. **`I am a researcher cum teacher and I love to inspire and teach people.`**. How many unique words have been used in the sentence? Use the **`split()`** methods and set to get the unique words.
sentance = "I am a researcher cum teacher and I love to inspire and teach people"
sentanceUnique = sentance.split(" ")
sentanceUnique = set(sentanceUnique)
len(sentanceUnique)

12

Exercises Loop

***** Level 1 ****

In [19]:
# 1. Iterate 0 to 10 using **`for`** loop, do the same using **`while`** loop.
for x in range(0,11):
    print(x)

x = 0
print()
while x <= 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10

0
1
2
3
4
5
6
7
8
9
10

In [18]:
# 2. Iterate 10 to 0 using **`for`** loop, do the same using **`while`** loop.
for i in range(10,0, -1):
    print(i)

print()

x = 10
while x >= 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

10
9
8
7
6
5
4
3
2
1
0

In [17]:
# 3. Write a loop that makes seven calls to **`print()`**, so we get on the output the following triangle:

# ```py
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# ```

for row in range(0,8):
    for col in range(0,8):
        print("# ", end="")
    print("#")

# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #
# # # # # # # # #

In [16]:
# 4. Use nested loops to create the following:

# ```py
#       #
#      ###
#     #####
#    #######
#   #########
#  ###########
# #############
# ```
max = 7
hashCount = 1

for row in range(0,max):
    for space in range(max-1, row, -1):
        print(" ", end=" ")

    for hash in range(0, hashCount):
        print("#", end=" ")
        
    hashCount += 2
    print()

            #
          # # #
        # # # # #
      # # # # # # #
    # # # # # # # # #
  # # # # # # # # # # #
# # # # # # # # # # # # #

In [15]:
# 5. Print the following pattern using loops

# ```py
#    0 x 0 = 0
#    1 x 1 = 1
#    2 x 2 = 4
#    3 x 3 = 9
#    4 x 4 = 16
#    5 x 5 = 25
#    6 x 6 = 36
#    7 x 7 = 49
#    8 x 8 = 64
#    9 x 9 = 81
#    10 x 10 = 100
# ```

for i in range(0, 11):
    print(i, "x", i, "=", i*i)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [14]:
# 6. Iterate through the list, ['Python', 'Numpy','Pandas','Scikit', 'Pytorch'] using a **`for`** loop and print out the items.
myList = ['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in myList:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [13]:
# 7. Use **`for`** loop to iterate from 0 to 100 and print only even numbers
for i in range(0,101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [12]:
# 8. Use **`for`** loop to iterate from 0 to 100 and print only odd numbers
for i in range(0,101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

***** Level 2 *****

In [11]:
# 1.  Use **`for`** loop to iterate from 0 to 100 and print the sum of all numbers.

# ```py
#    The sum of all numbers is 5050.
# ```
sum = 0
for i in range(0, 101):
    sum += i
print("The sum of all numbers is", sum)

The sum of all numbers is 5050

In [10]:
# 1. Use **`for`** loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

# ```py
#     The sum of all evens is 2550. And the sum of all odds is 2500.
# ```
sumEven = 0
sumOdd = 0
for i in range(0, 101):
    if i % 2 == 0:
        sumEven += i
    else:
        sumOdd += i
print("The sum of all evens is", sumEven ,"And the sum of all odds is", sumOdd)

The sum of all evens is 2550 And the sum of all odds is 2500

 ***** Level 3 *****

In [9]:
# 1. Go to the data folder and use the **[countries.py]()** file. Loop through the countries and extract all the countries containing the word **`land`**.
from countries import countries
for country in countries:
    if country.find("land") != -1:
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [8]:
# 2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruits = ['banana', 'orange', 'mango', 'lemon']
for i in range(len(fruits)-1, -1, -1):
    print(fruits[i])

lemon
mango
orange
banana

In [7]:
# 3. Go to the data folder and use the **[countries_details_data.py]()** file.
 # 1. What are the total number of languages in the data
from countries_details_dat import countries_data

unique_language = set()
for lang in countries_data:
    for i in lang["languages"]:
        unique_language.add(i)
print(len(unique_language))

112

In [6]:
# 2. Find the ten most spoken languages from the data
from countries_details_dat import countries_data
langAndCount = {}
allLanguages = []
maxSpokenCount = 10

    # Store all languages in list
for languagesForEachCountry in countries_data:  
    for value in  languagesForEachCountry["languages"]:
        allLanguages.append(value)

    # count the languages and store it in langAndCount dict
for searchIndex in range(0, len(allLanguages) - 1):
    if langAndCount.get(allLanguages[searchIndex]):
        pass
    else:
        langAndCount[allLanguages[searchIndex]] = 1
        for currentIndex in range(searchIndex+1, len(allLanguages)):
            if allLanguages[searchIndex] == allLanguages[currentIndex]:
                langAndCount[allLanguages[searchIndex]] += 1

    # print 10 most spoken languages
lang = [(value,key) for key, value in langAndCount.items()] # from https://stackoverflow.com/questions/268272/getting-key-with-maximum-value-in-dictionary
for i in range(1, maxSpokenCount+1):
    sortedLang = sorted(lang)[len(langAndCount)-i]
    print(sortedLang[1], " : " ,sortedLang[0])

English  :  91
French  :  45
Arabic  :  25
Spanish  :  24
Russian  :  9
Portuguese  :  9
Dutch  :  8
German  :  7
Chinese  :  5
Swahili  :  4

In [5]:
# 3. Find the 10 most populated countries in the world
from countries_details_dat import countries_data
population = {}
maxPopulatedCountries = 10
for country in countries_data:
    population[country["name"]] = country["population"]

values = [(value,key) for key, value in population.items()]
for i in range(1, maxPopulatedCountries+1):
    sortedPopulation = sorted(values)[len(population)-i]
    print(sortedPopulation[1])

    # print(sortedPopulation[1], " : ", sortedPopulation[0])

China
India
United States of America
Indonesia
Brazil
Pakistan
Nigeria
Bangladesh
Russian Federation
Japan

Exercises While

In [4]:
# 1. Display each character from a string and if `a` character is number then stop the loop.
name = 'Aaila99godfod'
for i in name:
    if i.isdigit():
        break
    else:
        print(i)

A
a
i
l
a

In [3]:
# 2. Write a while loop to display only alphabets from a string.
name = 'Aaila99godfod'
i = 0
while name[i].isalpha():
    print(name[i])
    i += 1

A
a
i
l
a

In [2]:
# 3. printing odd numbers less than `n` you get form user
n = int(input("Enter num: "))
for i in range(0, n+1):
    if i % 2 != 0:
        print(i)

1
3
5
7